@font-face {
  font-family: "Gloss And Bloom";
  src: url("Gloss_And_Bloom.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gloss And Bloom, sans-serif;
}
body {
  background: url("https://ayamohamed1.github.io/src/style/tac.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  font-size: 80px;
  color: #faebd7;
}
.button {
  width: 100%;
}
.btn {
  width: fit-content;
  height: fit-content;
  padding: 4px 25px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid;
  background: linear-gradient(120deg, #3494e6, #fc5c7d);
  border-radius: 13px;
  cursor: pointer;
  outline: none;
  transition: 0.4s ease-in-out 0s;
  margin-top: 25px;
  text-decoration: none;
  opacity: 0.8;
}

.btn:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* -------------Responsive--------- */
@media only screen and (max-width: 770px) {
  h1 {
    font-size: 50px;
  }
  .btn {
    padding: 4px 10px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 780px) {
  h1 {
    font-size: 35px;
  }
  .btn {
    padding: 4px 10px;
    font-size: 7px;
  }
}
